{% extends "layout.html" %} 

{% block body %}


  <header class="text-center bg-white mt-3" >
    <br>
    <br>
    <h1>Kitabtoon</h1>
    <p>You can find about your favorite book here!</p>
  </header>

<div class="container">
  <div class="row align-middle">
    <div class="col-lg-8 jumbotron bg-white mx-auto" >
        <div class="input-group input-group-lg mb-3">
          <input type="text" class="form-control" placeholder="Search for Books here">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search" style="font-size:24; color:white;"></i></button>
          </div>
        </div>
      </div>
  </div>

</div>












{% endblock %}
